.Header {
    background-color: #e2f5cc;
    height: 55px;
    align-items: normal;
}



.Link {
    margin-bottom: 15px;
    color: black;
    font-size: 1.2rem;
}

.NavLinks {
    position: fixed;
    height: 55px;
    right: 0px;
    padding: 10px, 20px 5px 20px;
    background-color: #e2f5cc;
    text-align: left;
    align-items: center;
    border-bottom-left-radius: 5px;
}