.TitleContainer {
    margin-top: 30px;
    background-color: #C6D3E3;
    background-size: cover;
    height: 1000px;
}

.SpaceTitle {
    margin-bottom: 50px;
    margin-top: 30px;
}

.Title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.SpaceTitle > h2 {
    color: #7fbc92;
    font-size: 1.5rem;
    text-align: center;
}

.title > h1 {
    color: #7fbc92;
    font-size: 1.5rem;
    text-align: center;
}

.ContentContainer {
    background-color: #d0ccf5;
    border-color: #98e7b1;  
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 20px;
}

  /* Styling to allow for different Mobile and desktop views */
.DesktopOnly {
    display: none;
    margin-top: 10px;
}

.MobileOnly {
    margin-top: 20px;
}

@media screen and (min-width:768px){
    .PageContainer {
        background-color: #C6D3E3;
        padding: 5px 20px 5px 20px;
    }
    .MobileOnly {
        display: none;
    }
    .DesktopOnly {
        display: block;
    }
    .Title {
        font-size: 2.5rem;
    }
}